node-red/.flows.json.backup
[{"id":"2c124799.0d4dd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24cbbd6a.981c62","type":"server","z":"","name":"Home Assistant"},{"id":"8c815a67.d444f8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Hall Motion state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"binary_sensor.hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":390,"y":260,"wires":[["f01ce776.0a95f8"]]},{"id":"f01ce776.0a95f8","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":280,"wires":[["ca8dcb07.677dc8"],["294706c1.3b4bfa"]]},{"id":"469708f5.116ed8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Sean Home?","server":"24cbbd6a.981c62","version":1,"entityidfilter":"device_tracker.sean_s_iphone_xs_max","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":500,"wires":[["9cea5cb.a06b7a"]]},{"id":"9cea5cb.a06b7a","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":480,"wires":[[],["52a37a54.fe2414"]]},{"id":"52a37a54.fe2414","type":"api-call-service","z":"2c124799.0d4dd8","name":"Craft Room Light off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.switchlinc_dimmer_51_33_3d","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":500,"wires":[[]]},{"id":"ca8dcb07.677dc8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene On","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_on","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":260,"wires":[[]]},{"id":"294706c1.3b4bfa","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene Off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_off","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":300,"wires":[[]]},{"id":"600d04d6.9d54ac","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Stair Motion state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"binary_sensor.apt_stair_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":440,"y":180,"wires":[["38ad5356.d25f8c","d5d8cf49.d880b"]]},{"id":"38ad5356.d25f8c","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":200,"wires":[["68b85060.c79f2"],["f1cfc543.c40cf8"]]},{"id":"68b85060.c79f2","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene On","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_on","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":180,"wires":[[]]},{"id":"f1cfc543.c40cf8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene Off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_off","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":220,"wires":[[]]},{"id":"d5d8cf49.d880b","type":"debug","z":"2c124799.0d4dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":120,"wires":[]}]