node-red/.flows.json.backup
[{"id":"2c124799.0d4dd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24cbbd6a.981c62","type":"server","z":"","name":"Home Assistant"},{"id":"87f8ad8c.14c58","type":"server","z":"","name":"Home Assistant"},{"id":"8c815a67.d444f8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Hall Motion state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"binary_sensor.hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":280,"y":180,"wires":[["f01ce776.0a95f8"]]},{"id":"f01ce776.0a95f8","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":180,"wires":[["ee41ca2b.3cba68","ca8dcb07.677dc8"],["ee41ca2b.3cba68"]]},{"id":"469708f5.116ed8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Sean Home?","server":"24cbbd6a.981c62","version":1,"entityidfilter":"device_tracker.sean_s_iphone_xs_max","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":270,"y":660,"wires":[["52a37a54.fe2414"],[]]},{"id":"52a37a54.fe2414","type":"api-call-service","z":"2c124799.0d4dd8","name":"Craft Room Light off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.switchlinc_dimmer_51_33_3d","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":660,"wires":[[]]},{"id":"ca8dcb07.677dc8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene On","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_on","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":100,"wires":[[]]},{"id":"294706c1.3b4bfa","type":"api-call-service","z":"2c124799.0d4dd8","name":"Hall Insteon Scene Off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"insteon","service":"scene_off","entityId":"","data":"{\"group\":35}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":180,"wires":[[]]},{"id":"600d04d6.9d54ac","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Stair Motion state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"binary_sensor.apt_stair_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":280,"y":100,"wires":[[]]},{"id":"38ad5356.d25f8c","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["ee41ca2b.3cba68","ca8dcb07.677dc8"],["ee41ca2b.3cba68"]]},{"id":"ec055b59.e7fa48","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Living room state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"light.apt_lr","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":280,"y":840,"wires":[["56991b45.683534"]]},{"id":"56991b45.683534","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":840,"wires":[["234fb810.6878a8"],["9b6b8ac7.f151f8"]]},{"id":"3cdf9c3c.410264","type":"api-call-service","z":"2c124799.0d4dd8","name":"Turn lights on","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_strip","data":"{ \"entity_id\": \"light.test_strip\", \"brightness\": 100, \"effect\": \"solid\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":800,"wires":[[]]},{"id":"42f2ec0b.eca884","type":"api-call-service","z":"2c124799.0d4dd8","name":"Turn lights off","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.test_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":860,"wires":[[]]},{"id":"9b6b8ac7.f151f8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Turn off power supply","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.led_power_supply","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":860,"wires":[["42f2ec0b.eca884"]]},{"id":"234fb810.6878a8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Turn on power supply","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.led_power_supply","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":800,"wires":[["3cdf9c3c.410264"]]},{"id":"fdadd0f8.184aa","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Craft Room door state","server":"24cbbd6a.981c62","version":1,"entityidfilter":"binary_sensor.craft_room_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":300,"y":520,"wires":[["7900f2e5.8c63ac"]]},{"id":"7900f2e5.8c63ac","type":"switch","z":"2c124799.0d4dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":520,"wires":[["8948778a.024358"],["6d435ea3.1f6fd"]]},{"id":"af2dd860.c0afd8","type":"api-call-service","z":"2c124799.0d4dd8","name":"Craft Room Light on","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.switchlinc_dimmer_51_33_3d","data":"{\"brightness\": \"120\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":480,"wires":[[]]},{"id":"a006a8e8.7e9588","type":"function","z":"2c124799.0d4dd8","name":"prep msg","func":"msg.filename = '/config/www/snapshots/snap.jpg';\nmsg.payload = { \n data: {\n type: 'photo',\n file: '/config/www/snap.jpg',\n chatId: 234006496,\n caption: 'Somoene opened the door.' }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":560,"wires":[["99ba75a9.5f66a8"]]},{"id":"edc06b08.b27b18","type":"api-call-service","z":"2c124799.0d4dd8","name":"","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.foscam_camera","data":"{\"filename\":\"/config/www/snap.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":560,"wires":[["a006a8e8.7e9588"]]},{"id":"99ba75a9.5f66a8","type":"api-call-service","z":"2c124799.0d4dd8","name":"","server":"24cbbd6a.981c62","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_photo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":560,"wires":[[]]},{"id":"87635c1d.1a5a7","type":"delay","z":"2c124799.0d4dd8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":560,"wires":[["edc06b08.b27b18"]]},{"id":"6d435ea3.1f6fd","type":"api-current-state","z":"2c124799.0d4dd8","name":"Check if Sean is home","server":"24cbbd6a.981c62","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.sean_s_iphone_xs_max","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":540,"wires":[["87635c1d.1a5a7"],[]]},{"id":"8948778a.024358","type":"time-range-switch","z":"2c124799.0d4dd8","name":"During the Nightime","lat":"","lon":"","startTime":"18:00","endTime":"08:00","startOffset":"","endOffset":0,"x":680,"y":480,"wires":[["af2dd860.c0afd8"],[]]},{"id":"ee41ca2b.3cba68","type":"stoptimer","z":"2c124799.0d4dd8","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":780,"y":180,"wires":[["2eee2674.78aaaa"],[]]},{"id":"d154915a.dee0c","type":"comment","z":"2c124799.0d4dd8","name":"Turn off light if forgotten","info":"","x":320,"y":620,"wires":[]},{"id":"25779062.3826a","type":"comment","z":"2c124799.0d4dd8","name":"Turn on light if night time and take a picture if not home","info":"","x":360,"y":480,"wires":[]},{"id":"64321c59.3336b4","type":"comment","z":"2c124799.0d4dd8","name":"Hall/Stairs Motion turn on lights","info":"","x":330,"y":60,"wires":[]},{"id":"a7e5f834.2e0608","type":"comment","z":"2c124799.0d4dd8","name":"Turn on the main led strips","info":"","x":310,"y":780,"wires":[]},{"id":"9deae8e5.c720c8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Lower Hall Switch","server":"24cbbd6a.981c62","version":1,"entityidfilter":"light.apt_hall","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":290,"y":300,"wires":[[],["ee41ca2b.3cba68"]]},{"id":"5048f5fe.6cb8ec","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Red Door switch","server":"24cbbd6a.981c62","version":1,"entityidfilter":"light.apt_red_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":240,"wires":[[],["ee41ca2b.3cba68"]]},{"id":"5427d733.b731f8","type":"server-state-changed","z":"2c124799.0d4dd8","name":"Upper Hall Switch","server":"24cbbd6a.981c62","version":1,"entityidfilter":"light.apt_upper_hall","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":290,"y":360,"wires":[[],["ee41ca2b.3cba68"]]},{"id":"2eee2674.78aaaa","type":"api-render-template","z":"2c124799.0d4dd8","name":"Still in hall?","server":"87f8ad8c.14c58","template":"{{ states.variable.last_motion.state != 'Hall Motion state' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1150,"y":180,"wires":[["294706c1.3b4bfa"]]}]